WebApplication1/obj/Docker/docker-compose.vs.release.g.yml
WebApplication1/obj/Docker/docker-compose.vs.debug.g.yml
WebApplication1/obj/Docker/TargetOS.cache
WebApplication1/obj/Docker/MergedDockerCompose1.cache
WebApplication1/obj/Docker/MergedDockerCompose.cache
WebApplication1/obj/Docker/CachedComposeConfigFilePaths.cache
WebApplication1/WebApplication1/obj/project.assets.json
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.targets
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.cache
WebApplication1/WebApplication1/obj/Docker/TargetFramework.cache
WebApplication1/WebApplication1/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
WebApplication1/WebApplication1/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
WebApplication1/WebApplication1/obj/Docker/ProjectReferences.cache
WebApplication1/WebApplication1/obj/Docker/CanonicalServiceNames.cache
WebApplication1/WebApplication1/obj/Docker/AppType.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp2.0/WebApplication1.csprojAssemblyReference.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp2.0/WebApplication1.csproj.CoreCompileInputs.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp2.0/WebApplication1.AssemblyInfoInputs.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp2.0/WebApplication1.AssemblyInfo.cs
WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/storage.ide-wal
WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/storage.ide-shm
WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/storage.ide
WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/db.lock
WebApplication1/.vs/WebApplication1/v15/.suo
